<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</header>

<body>
  <%- include('../includes/navigation.ejs') %>

  <main>
    <% if (products.length > 0) { %>
        <ul class="cart__item-list">
            <% products.forEach(p => { %>
                <li class="cart__item">
                    <h1><%= p.productData.title %> (<%= p.qty %>)</h1>
                    <h2>Quantity: <%= p.qty %></h2>
                    <form action="/cart-delete-item" method="post">
                        <input type="hidden" name="productId" value="<%= p.productData.id %>">
                        <button class="btn danger" type="submit">Delete</button>
                    </form>
                </li>
            <% }); %>
        </ul>
    <% } else { %>
      <h1>No Products in Cart!</h1>
    <% } %>
  </main>

<%- include('../includes/end.ejs') %>
